/* ResultPage.css */

.result-container {
    padding-top: 20px;
  }
  
  /* Journey details section */
  .journey-details {
    margin-bottom: 30px;
  }
  
  .journey-locations {
    margin-top: 20px;
  }
  
  /* Styling for each location box */
  .location-box {
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .map-container {
    margin-top: 40px;
  }  